<h2>Welcome, <%= session[:email]%></h2>
<form id="logout" method="post" action="/session">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" class="button" value="Logout">
</form>>

<table>
  <tr>
    <th>Category</th>
    <th>Basic Weight</th>
  </tr>
  <% @data.all_categories.each do |category| %>
    <tr><%= category.capitalize %>
  <% end %>

</table>
