<h3>Please sign in:</h3>
<form id="login" action="/session" method="POST">
  <input type="text" placeholder="Email Address" name="email">
  <input type="password" placeholder="Password" name="password">
  <input type="submit" class="button" value="Login">
</form>
