<html>
  <head>
    <title>File Gravity</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </head>
  <body>

  <h1>File Gravity</h1>
    <% if flash[:next] %>
      <span class="flash">
        <%= flash[:next]%>
      </span>
    <% end %>

    <% if flash[:error] %>
      <span class="flash">
        <%= flash[:error]%>
      </span>
    <% end %>
    <%= yield %>
  </body>
</html>
